body {
  background-color: cadetblue;
}
.BMO-face {
  max-width: 180vh;
  height: 87vh;

  padding-right: 30px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(118, 236, 197);
}

/*
.main {
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 140px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

*/

.header-content {
  background-color: cadetblue;

  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}
.home-screen-link {
  font-family: "Press Start 2P", system-ui;

  color: black;
  text-decoration: none;
}
.game-header-middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.game-header-left-section {
  font-family: "Press Start 2P", system-ui;
  width: 200px;
}
.BMO-smile {
  width: 150px;
}
.game-header-right-section {
  font-family: "Press Start 2P", system-ui;
  width: 200px;
}

.log {
  padding-left: -10px;
  display: flex;
  justify-content: start;
  align-items: start;
}
.game-logo-img {
  width: 15vh;
}

.BMO-grid-cards-container {
  max-width: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-area: auto;
  justify-items: center;
  align-items: center;

  gap: 5px;

  margin-top: -65px;
  border: 3px dashed rgb(69, 118, 138);
  padding: 15px;

  margin-left: auto;
  margin-right: auto;
}
.BMO-card {
  border: 5px outset;
  border-radius: 5px;
}
.card-img {
  width: 175px;
}
